@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html::-webkit-scrollbar{
  display: none;
}

/* Loading Block */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* Loading Animation */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Hide Loading Block */
.loaded {
  opacity: 0;
  visibility: hidden;
}

.header {
  width: 100%;
  margin: 20px 20px 0px 0px;
  padding: 20px;
  display: block;
  background-image: url(boyake_yumekawa.png); 
  border-radius: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 99%;
  animation: fadeIn 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.is-animated {
  animation: fadeIn 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.title {
  color: green;
  font-size: xxx-large;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: green;
}

main { /* メインタグスタイル */
  background-image: url(kirakirashiro22.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  animation: fadeIn 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.explanation {
  display: flex;
}

.heart_img { /* heart画像のスタイル */
  margin-top: 50px;
  margin-left: 6.7%;
  padding-right: 50px;
}

.explanation-main {
  display: block;
  margin-top: 150px;
  padding-left: 150px;
  border-left: 5px solid green;

}

.explanation_title {
  color: green;
  text-align: center;
  display: block;
}

.server_input_tag {
  text-align: center;
}

.server_input_tag_explanation-css {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .heart_img {
    display: none;
  }

  .server_input_tag {
    padding-right: 300px;
    margin-left: 20%;
  }

  .kaigyou::after{
    content:"\A";
    white-space:pre;
   }
   
   .explanation {
    display: block;
   }

   .explanation-main {
    display: block;
    margin-top: 140px;
    padding-left: 30px;
    border-left: 5px solid green;
  }
}